<a href="https://colab.research.google.com/github/Anna-Mohan/data-science-learning-path/blob/main/MDT51_DATA_SCIENCE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = [ 'sandu','anna','arivu']

for A in name:
  print(A)

sandu
anna
arivu

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68]

odd=[]
even=[]

for i in Nums:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print(even)
print(odd)

[10, 20, 78, 44, 22, 68]
[39, 67, 25]

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68,100,12,103,27,78,99,0,1,2,3,4,5,6,7,8,9,10]

num_3 = []
num_5 = []
num_7 = []

for i in Nums:
  if i%3==0:
    num_3.append(i)
  if i%5==0:
    num_5.append(i)
  if i%7==0:
    num_7.append(i)

print(num_3)
print(num_5)
print(num_7)
num_5 = []
num_7 = []

for i in Nums:
  if i%3==0:
    num_3.append(i)
  if i%5==0:
    num_5.append(i)
  if i%7==0:
    num_7.append(i)

print(num_3)
print(num_5)
print(num_7)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-16-94f2f136174a>, line 1)

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68,100,12,103,27,78,99,0,1,2,3,4,5,6,7,8,9,10]

# % 3 []
# % 5 []
# % 7 []

num_3 = []
num_5 = []
num_7 = []

for i in Nums:
  if i%3==0:
    num_3.append(i)
  elif i%5==0:
    num_5.append(i)
  elif i%7==0:
    num_7.append(i)

 print(num_3)
 print(num_5)
 print(num_7)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 19)